# Nextflow specific files
work/
.nextflow.log
.nextflow/
.nextflow*

# Common temporary and log files
*.tmp
*.log

# Output directories (adjust as needed)
results/
output/
Output/

# Sensitive information
.env
config/secrets.config

# IDE specific files
.idea/
.vscode/

# Dependency directories (if applicable)
node_modules/
venv/

# ARDaP outputs and temporary data
Outputs/
SmokeData/
SmokeData/*
work_smoke/
smoke_report.html*
trace.txt*
snpEff_summary.html
report.html
*.html

# Conda env caches created by Nextflow
work/**/conda/
